{% extends 'mailing/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="container" style="padding-top: 40px;">
    <div class="container border-bottom"
         style="width: 100%; height: 450px; overflow: hidden; padding-top: 50px; padding-bottom: 70px;">
        <img src="{% mediapath 'logs.jpg' %}" class="img-fluid"
             style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <h3 class="display-5 text-center fw-normal text-body-emphasis" style="padding-top: 30px;">Логи рассылок</h3>
    <div class="container" style="padding-top: 50px;">
        <div class="row mb-3">
            {% if page_obj %}
            <table class="table table-strip">
                <thead>
                <tr>
                    <th style="width: 5%">№</th>
                    <th style="width: 20%">Подписка</th>
                    <th style="width: 24%">Клиенты</th>
                    <th style="width: 10%">Статус</th>
                    <th style="width: 17%">Ответ сервера</th>
                    <th style="width: 17%">Время</th>
                    <th style="width: 7%"></th>
                </tr>
                </thead>
                <tbody>
                {% for object in page_obj %}
                <tr>
                    <td style="width: 5%">{{ forloop.counter }}</td>
                    <td style="width: 20%">{{ object.mailing_settings_str }}</td>
                    <td style="width: 24%">{{ object.client }}</td>
                    <td style="width: 10%">{{ object.status }}</td>
                    <td style="width: 17%">{{ object.server_response }}</td>
                    <td style="width: 17%">{{ object.sent_datetime }}</td>
                    <td style="width: 7%"><a href="{% url 'mailing:view_mailing_log' object.pk %}" style="color: #FE4B09;">Подробнее</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-center">На текущий момент логов рассылок нет.</p>
            {% endif %}
        </div>
        {% if page_obj %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}" style="color: #FE4B09;">предыдущая</a>
                {% endif %}
            <span class="current-page">{{ page_obj.number }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" style="color: #FE4B09;">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" style="color: #FE4B09">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}